Django==3.1.6
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.8
xhtml2pdf==0.2.3
dj-database-url==0.5.0 
gunicorn==20.0.4
whitenoise==5.0.1
psycopg2==2.8.4
celery==4.4.0
redis==3.4.1
django-jsonfield==1.4.0
requests==2.22.0
openpyxl==3.0.3
django-storages[google]==1.9.1
XlsxWriter==1.2.7
setuptools>=40.3.0