{% extends 'dashboard/base_template.html' %}
{% block title %} KSHS | Courses {% endblock title %}

{% block body %}
    <div class="main-body">
        <div class="header">
            <h3>COURSES</h3>
            <div class="add-form card card-responsive">
                <a href="/resources/assets/sheets/courses.xlsx" download class="btn btn-success btn-sm"><span class="fa fa-download"></span></a>
                <h4>ADD COURSES FROM EXCEL SHEET</h4>
                <form action="{% url 'dashboard:courses' %}" method="POST" enctype="multipart/form-data" id="courseForm"> 
                    {% csrf_token %}
                    <!-- <input type="file" name="files">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-upload"></span> Upload</button> -->
                    <label for="files" class="btn btn-primary"><span class="fa fa-upload"></span> Upload</label>
                    <input id="files"  
                            type="file" 
                            name="files" 
                            accept=".xls,.xlsx"
                            style="display: none;" required onchange="submitForm('courseForm')">
                </form>
            </div>
        </div>

        <div class="content">
            <hr>
            <div class="body card card-responsive">
                {% if error_message %}
                    <div class="alert alert-warning fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> {{error_message}}.
                    </div>
                {% endif %}
                
                <div class="search-content">
                    <form action="" method="get">
                        <input type="search" name="course_id" placeholder="Seach IDs" value="{{course_id}}">
                        <button type="submit"><span class="fa fa-search"></span></button>
                    </form>
                </div>

                {% if courses %}
                <table class="table table-striped table-hover">
                    <thead class="">
                        <tr>
                            <th><h5>COURSE ID</h5></th>
                            <th><h5>NAME</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                       <tr href="?">
                            <td><h5>{{course.course_id|upper}}</h5></td>
                            <td><h5>{{course.name|title}}</h5></td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}
                    <div class="alert alert-info fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>No record found!</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}