{% extends 'dashboard/base_template.html' %}
{% block title %} KSHS | Academic Records {% endblock title %}
{% block username %} {{request.user.staff.get_short_name}} {% endblock username %}
{% block body %}
    <div class="main-body">
        <div class="record-display h-scroll">
        </div>
        
        <div class="header">
            <p>ACADEMIC RECORDS - SUBJECT TEACHER</p>
            <div class="records card card-responsive h-scroll">
                {% csrf_token %}
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                [
                                    {% for item in classes %}
                                        <strong> {{item.student_class__name}} </strong>
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                ]
                                <h5>ACADEMIC YEAR</h5>
                            </td>
                            <td>
                                <select class="form-control" name="academic_year" id="academic_year" required readonly>
                                    <option value="{{school.current_academic_year}}" selected>{{school.current_academic_year}}</option>
                                    <!-- <option value="2020/2021">2020/2021</option> -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>SEMESTER</h5></td>
                            <td>
                                <select class="form-control" name="semester" id="semester" required readonly>
                                    <option value="{{school.current_semester}}" selected>{{school.current_semester}}</option>

                                    <!-- {% if school.current_semester == "First Semester" %}
                                        <option value="First Semester" selected>First Semester</option>
                                        <option value="Second Semester">Second Semester</option>
                                    {% elif school.current_semester == "Second Semester" %}
                                        <option value="First Semester" >First Semester</option>
                                        <option value="Second Semester" selected>Second Semester</option>
                                    {% else %}
                                        <option value="First Semester">First Semester</option>
                                        <option value="Second Semester">Second Semester</option>
                                    {% endif %} -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>SUBJECT</h5></td>
                            <td>
                                <select class="form-control" name="subject_name" id="subject_name" required>
                                    <option value="">--- Subject ---</option>
                                    {% for subject in subjects %}
                                        <option value="{{subject.subject__name}}">{{subject.subject__name|title}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>FORM</h5></td>
                            <td>
                                <select class="form-control" name="form" id="form" required>
                                    <option value="">  -- Form ---</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                        </tr>
                        <tr onclick="loadGradingSystem()">
                            <td><button type="submit" class="btn btn-info" onclick="generateRecordSheet()">Generate Excel Sheet</button></td>
                            <td> <p class="text text-right"><span class="btn btn-primary" onclick="loadSubjectRecordTemplate()">LOAD</span></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="content">
            <div class="body">
                {% if error_message %}
                    <div class="alert alert-warning fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> {{error_message}}.
                    </div>
                {% endif %}
                
                {% if message %}
                    <div class="alert alert-info fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Info! </strong> {{message}}.
                    </div>
                {% endif %}
                
                <div class="subject_record_template_div h-scroll">

                </div>
            </div>
        </div>
    </div>
{% endblock body %}